{% load i18n %}
{% load filters %}
{% if record.Lines %}
<h3 class="mt-4">{% trans "Line items" %}</h3>
<div class="table-responsive">
    <table class="table table-sm table-striped">
        <thead class="table-dark">
            <tr>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "List Price" %}</th>
                <th>{% trans "Discount" %}</th>
                <th>{% trans "Tax" %}</th>
                <th>{% trans "Tax Amount" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "Total (tax included)" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for line in record.Lines %}
                <tr>
                    <td>{{line.qty|floatformat:2}}</td>
                    <td>
                        {% if line.desc %}
                            <span style="color: #007bff;" data-bs-toggle="tooltip" title="{{line.desc|safe}}" data-bs-placement="right">{{line.desc|safe}}</span>
                        {% else %}
                            {{line.desc|safe}}
                        {% endif %}
                    </td>
                    <td>{{line.subprice|floatformat:2}}{{currency_symbol}}</td>
                    <td>{{line.remise_percent|floatformat:2}}%</td>
                    <td>{{line.tva_tx|floatformat:2}}%</td>
                    <td>{{line.total_tva|floatformat:2}}{{currency_symbol}}</td>
                    <td>{{line.total_ht|floatformat:2}}{{currency_symbol}}</td>
                    <td>{{line.total_ttc|floatformat:2}}{{currency_symbol}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-3 ms-auto mt-3">
        <table class="table table-sm">
            <tbody>
                {% if record.total_ht %}
                    <tr>
                        <th class="left border-0">
                            {% trans "Tax base" %}
                        </th>
                        <td class="right border-0">
                            {{record.total_ht|floatformat:2}}{{currency_symbol}}
                        </td>
                    </tr>
                {% endif %}
                {% if record.remise_percent %}
                    <tr>
                        <th class="left border-0">
                            {% trans "Discount" %}
                        </th>
                        <td class="right border-0">
                            {{record.remise_percent|floatformat:2}}{{currency_symbol}}
                        </td>
                    </tr>
                {% endif %}
                {% if record.subprice %}
                    <tr>
                        <th class="left border-0">
                            {% trans "Subtotal" %}
                        </th>
                        <td class="right border-0">
                            {{record.subprice|floatformat:2}}{{currency_symbol}}
                        </td>
                    </tr>
                {% endif %}
                {% if record.total_tva %}
                    <tr>
                        <th class="left border-0">
                            {% trans "Tax" %}
                        </th>
                        <td class="right border-0">
                            {{record.total_tva|floatformat:2}}{{currency_symbol}}
                        </td>
                    </tr>
                {% endif %}
                {% if record.total_ttc %}
                    <tr>
                        <th class="left">
                            {% trans "Total" %}
                        </th>
                        <td class="right">
                            {{record.total_ttc|floatformat:2}}{{currency_symbol}}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>
{% endif %}

{% if module_key == 'AOS_Invoices' %}
    <div class="text-end">
        <a class="btn btn-primary mt-4" href="{% url 'get_pdf_dolibarr' module_key record.id %}">
            <span class="fas fa-file-alt"></span> {% trans "Download PDF" %}
        </a>
    </div>
{% endif %}

