{% load i18n %}
{% load filters %}
{% block static_files %}
{% load static %}
<script src="{% static 'portal/session.js' %}"></script>
<script src="{% static 'portal/cases_detail.js' %}"></script>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/detail_cases.css' %}" />

<div id="case-updates">
    {% for update in case_updates.entry_list %}
        {% if forloop.first %}
            <button type="button" class="btn btn-primary mb-4 mr-2"
                onclick="collapseCaseUpdates();">{% trans "Collapse all updates" %}
            </button>
            <button type="button" class="btn btn-primary mb-4"
                onclick="expandCaseUpdates();">{% trans "Expand all updates" %}
            </button>
        {% endif %}
        {% include "portal/module_detail_case_update.html" with show=forloop.last %}
    {% endfor %}
</div>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-end">
    {% if case_updates.first_page != None %}
        <form class="page-item filtered"
            id="{{ module_key }}_filter"
            action="{% url 'module_detail' module_key record.id %}"
            method="post"
        >
            {% csrf_token %}
            <input type="hidden"
                value="{{ case_updates.current_limit }}"
                name="limit"
            >
            <input type="hidden"
                value="{{ case_updates.first_page}}"
                name="offset"
            >
            <input type="hidden"
              value="{{ case_updates.last_page_control }}"
              name="last_page_control"
            >
            <button class="page-link" type="submit"><span class="oi">⏮</span></button>
        </form>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><span class="oi">⏮</span></a>
        </li>
      {% endif %}
      {% if case_updates.previous_offset != None %}
        <form class="page-item filtered"
            id="{{ module_key }}_filter"
            action="{% url 'module_detail' module_key record.id %}"
            method="post"
        >
            {% csrf_token %}
            <input type="hidden"
                value="{{ case_updates.current_limit }}"
                name="limit"
            >
            <input type="hidden"
                value="{{ case_updates.previous_offset }}"
                name="offset"
            >
            <input type="hidden"
              value="{{ case_updates.last_page_control }}"
              name="last_page_control"
            >
            <button class="page-link" type="submit"><span class="oi oi-arrow-left"></span> {% trans "Previous" %}</button>
        </form>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><span class="oi oi-arrow-left"></span> {% trans "Previous" %}</a>
        </li>
      {% endif %}
      {% if case_updates.next_offset != None %}
          <form class="page-item filtered"
              id="{{ module_key }}_filter"
              action="{% url 'module_detail' module_key record.id %}"
              method="post"
          >
              {% csrf_token %}
              <input type="hidden"
                  value="{{ case_updates.current_limit }}"
                  name="limit"
              >
              <input type="hidden"
                  value="{{ case_updates.next_offset }}"
                  name="offset"
              >
              <input type="hidden"
                value="{{ case_updates.last_page_control }}"
                name="last_page_control"
              >
              <button class="page-link" type="submit">{% trans "Next" %} <span class="oi oi-arrow-right"></span></button>
          </form>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% trans "Next" %} <span class="oi oi-arrow-right"></span></a>
        </li>
      {% endif %}
      {% if case_updates.last_page != None %}
        <form class="page-item filtered"
            id="{{ module_key }}_filter"
            action="{% url 'module_detail' module_key record.id %}"
            method="post"
        >
            {% csrf_token %}
            <input type="hidden"
                value="{{ case_updates.current_limit }}"
                name="limit"
            >
            <input type="hidden"
                value="{{ case_updates.last_page}}"
                name="offset"
            >
            <input type="hidden"
              value="{{ case_updates.last_page_control }}"
              name="last_page_control"
            >
            <button class="page-link" type="submit"><span class="oi">⏭</span></button>
        </form>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><span class="oi">⏭</span></a>
      </li>
      {% endif %}
  </ul>
</nav>

<div class="card border-warning">
  <div class="card-body">
    <h5 class="card-title">{% trans "Update case" %}</h5>
    <form id="update-case-form">
      <input type="hidden" value="{{ record.id }}" name="case-id" id="case-id">

      <div class="mb-3">
        <textarea class="form-control" id="update-case-text" name="update-case-text" rows="5"></textarea>
      </div>

      <div class="mb-3">
        <label for="update-case-attachment-label">{% trans "Attachments:" %}</label>
        <input type="file" class="form-control" id="update-case-attachment" name="update-case-attachment" multiple>
      </div>

      <button type="submit" class="btn btn-primary" id="update-case-form-submit-button">
        <span class="fas fa-share"></span> {% trans "Add update" %}
      </button>
    </form>
  </div>
</div>

<script src="{% static 'portal/tinymce/tinymce.min.js' %}"></script>
<script>
  tinymce.init({
    selector: '#update-case-text',  // Replace with your specific field ID
    menubar: false,
    plugins: 'lists link autolink',  // Only include text-related plugins
    toolbar: 'bold italic',  // No image-related buttons
    paste_data_images: false,  // Disable pasting images
    automatic_uploads: false,  // Disable automatic image uploads
    file_picker_types: '',  // Disable file picker completely
    block_unsupported_drop: true,  // Block image drag-and-drop

    // Use the 'valid_elements' option to explicitly disallow <img> tags
    valid_elements: "@[style],-ol[type|compact],-ul[type|compact],-li,br,b,strong,i,em,u,a[href|target],-p",
    // The '@[style]' allows inline styles, and 'a[href|target]' allows links with href and target attributes.
    license_key: 'gpl',
    setup: function (editor) {
      editor.on('Paste', function (e) {
        // Prevent pasting of images
        if (e.clipboardData.types.indexOf('image') !== -1) {
          e.preventDefault();
        }
      });
    }
  });

</script>

<!-- Modal -->
<div class="modal fade" id="update_case_modal" tabindex="-1" aria-labelledby="update_case_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update_case_modal_title">{% trans "Update case" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="alert alert-success" role="alert">
          </div>
          <div class="alert alert-danger" role="alert">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Ok" %}</button>
      </div>
    </div>
  </div>
</div>

<div id="loading_modal" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <img src="{% static 'portal/animated/loading.svg' %}">
    </div>
</div>
