{% extends "portal/basepage.html" %}
{% load i18n %}
{% block title %}{% trans "PDF Templates Settings" %}{% endblock %}
{% block content %}

{% if success_msg %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if error_msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<h1>{% trans "PDF Templates Settings" %}</h1>

<form id="create_role_form" method="post" action="{% url 'pdf_templates' %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="update_preferences">
    <div class="mb-3">
        <label for="invoice_template_for" class="form-label">{% trans "Invoice template" %}:</label>
        <select class="form-select" name="invoice_template" id="invoice_template_for">
            <option value="">{% trans "- disabled -" %}</option>
            {% if aos_invoices_templates.entry_list %}
                {% for template in aos_invoices_templates.entry_list %}
                    <option value="{{ template.id }}" {% if invoice_template == template.id %}selected{% endif %}>{{ template.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="mb-3">
        <label for="contract_template_for" class="form-label">{% trans "Contract template" %}:</label>
        <select class="form-select" name="contract_template" id="contract_template_for">
            <option value="">{% trans "- disabled -" %}</option>
            {% if aos_contract_templates.entry_list %}
                {% for template in aos_contract_templates.entry_list %}
                    <option value="{{ template.id }}" {% if contract_template == template.id %}selected{% endif %}>{{ template.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="mb-3">
        <label for="quote_template_for" class="form-label">{% trans "Quotes template" %}:</label>
        <select class="form-select" name="quote_template" id="quote_template_for">
            <option value="">{% trans "- disabled -" %}</option>
            {% if aos_quotes_templates.entry_list %}
                {% for template in aos_quotes_templates.entry_list %}
                    <option value="{{ template.id }}" {% if quote_template == template.id %}selected{% endif %}>{{ template.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary"><span class="oi oi-circle-check"></span> {% trans "Save" %}</button>
</form>

{% endblock %}
