html, body {
  height: 100%;
  margin: 0;
}
body > .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 120px); /* Adjusting for padding */
}
