body > .container {
  padding-bottom: 60px;
  padding-top: 120px;
}

.sortable-ul {
  min-height: 30px;
  max-height: 534px;
  overflow-y: auto;
}

.scrollable-dropdown {
  max-height: 600px;
  overflow-y: auto;
}

.selected-arrow {
  color: gray;
}

.required:after {
  content: "*";
  color: #f08377;
  padding: 10px;
}

a {
  text-decoration: none;
}

/* Ensure text wrapping for all screen sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For modern browsers */
}



/* For screens that are 601px wide or more */
@media screen and (min-width: 601px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 35px;
  }
}

/* For screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 25px;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For modern browsers */
  }
}


